.root {
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-family: sans-serif;
}

.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-hero {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;
    // text-align: center;
    // padding-left: 20rem;
    // padding-top: 8rem
    row-gap: 20px;
    
    // div {
    //     align-items: flex-start;
    // }
}