.header {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    color: #4fa4ff;
}

.work-title {
    color: #4fa4ff;
    margin-top: 10vh;
    text-align: center;
    text-shadow: -4px 3px 0 #3a50d9;
    font-size: 30px
}

.whole1 {
    // padding-left: 18rem;
    // padding-right: 10rem;
    // z-index: 1;
    color: #4fa4ff;
    
}